{% extends "layout.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Suggest a website" %}{% endblock %}
{% block meta_description %}{% trans "Suggest a website to share your experience of it as a user." %}{% endblock %}

{% block content %}
    <section class="clearfix container main-container">
        <h1>{% trans "Suggest a website" %}</h1>
        <p>{% trans "Suggest a website to be reviewed by the UXperiment community." %}</p>
        <p>{% trans "How? Just tell about what you're thinking of the website with a comment, raise any problem you encountered with it or  suggest how it could be improved for a better user experience." %}</p>
        {% if errors %}
            <p class="error">{% trans "Please correct the errors highlighted below." %}</p>
        {% endif %}
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Suggest this website" %}" />
        </form>
    </section>
{% endblock %}
